name: .NET Publish

on:
  push:
    branches: [ "master" ]

jobs:

  build:

    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout
      uses: actions/checkout@v6

    # Install the .NET workload
    - name: Install .NET 10
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.x
        dotnet-quality: ga

    # Execute all unit tests in the solution
    - name: Execute unit tests
      run: dotnet test

    # Publish
    - name: Publish
      run: dotnet publish APB97.SimpleResxToJson.CLI --nologo -o publish

    # Pack BuildTask (only on one runner os)
    - name: Pack into a NuGet package
      if: runner.os == 'Linux'
      run: dotnet pack APB97.SimpleResxToJson.BuildTask -o .

    # Upload package (only on one runner os)
    - name: Upload to NuGet
      if: runner.os == 'Linux'
      run: dotnet nuget push "*.nupkg" -k ${{ secrets.NUGET_TOKEN }} -s https://api.nuget.org/v3/index.json

    # Upload the artifact: https://github.com/marketplace/actions/upload-a-build-artifact
    - name: Upload build artifacts
      uses: actions/upload-artifact@v6
      with:
        name: ${{ format('SimpleResxToJson_{0}', runner.os) }}
        path: publish
